extends layout

block content
    form(action="/input/analysis/selection" method="POST")
        input(type="hidden", value=chinese, name="chinese")
        input(type="hidden", value=responce.japanese, name="japanese")
        //- input(type="hidden", value=responce, name="responce")
        p= chinese
        p= responce.japanese
        table(border='1')
            tr 
                th ID 
                th Word
                th PinYin 
                th Meaning 
                th POS 
                th Level 
                th Add?
            each word, index in responce.words
                tr 
                    td= index+1
                    td= word.word 
                    td= word.pinyin 
                    td= word.meaning 
                    td= word.partOfSpeech 
                    td= word.hskLevel 
                    td 
                        input(type="checkbox",value=word,name="words")
        button(type="submit") Add!  
    
    form(action="/input/analysis" method="POST")
        input(type="hidden", value=chinese, name="chinese")

        button(type="submit") regenerate 

