extends layout

block content
    h1 Dict Selection
    
    form(action="/input/analysis/selection/createDictAndAdd" method="POST")
        input(type="hidden", value=chinese, name="chinese")
        input(type="hidden", value=japanese, name="japanese")
        input(type="hidden", value=words, name="words")
        input(type="text", name="dictName",placeholder="dictName", required) 
        input(type="text", name="dictDescription", placeholder="dictDescription",required) 
        button(type="submit") create new dict

    form(action="/input/analysis/selection/add2Dict" method="POST")
        input(type="hidden", value=chinese, name="chinese")
        input(type="hidden", value=japanese, name="japanese")
        input(type="hidden", value=words, name="words")
        select(name="dictID", required)
            each dict in dictionaries
                option(value=dict.id) #{dict.name}
        button(type="submit") add to existing dict
        